<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.52.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="container mx-auto px-4">
    <div class="navbar bg-base-100">
        <a href="/" class="btn btn-ghost normal-case text-xl">ZAProducts</a>
    </div>
    <div class="grid lg:grid-cols-3 gap-4 md:grid-cols-2 grid-cols-1">
        <div class="card w-96 bg-base-100 shadow-xl" th:each="product : ${products}">
            <figure class="px-10 pt-10">
                <img th:src="${product.thumbnail}" alt="${product.title}" class="rounded-xl aspect-square" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title" th:text="${product.title}"></h2>
                <p th:text="${product.description}">If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                    <a th:href="@{/product/{id}(id=${product.id})}" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>